<!-- This HTML code is reused The Card Component from Bootstrap: https://getbootstrap.com/docs/4.3/components/card/
Also reused code from my Udemy Course (Section 23, Lecture 335);
Source: https://www.udemy.com/the-complete-angular-master-class/learn/v4/t/lecture/7859978?start=0 [Udemy] -->
<div class="card" style="width: 15rem;">
  <img [src]="product.imageUrl" class="card-img-top">
  <div class="card-body">
    <h4 class="card-title">{{ product.title }}</h4>
    <h5 class="card-title">{{ product.category }}</h5>
    <p class="card-text">{{ product.price | currency:'GBP' }}</p>
  </div>
  <div class="card-footer">
    <button *ngIf="quantity === 0; else updateQuantity" 
    (click)="addToCart(product)" 
    class="btn btn-primary btn-block">Add to Cart</button>
    <ng-template #updateQuantity>
      <div class="row no-gutters">
        <div class="col-2">
          <button (click)="removeFromCart(product)" class="btn btn-secondary btn-block">-</button>
        </div>
        <div class="col text-center">
            {{ quantity }} in Cart
        </div>
        <div class="col-2">
            <button (click)="addToCart(product)" class="btn btn-secondary btn-block">+</button>
        </div>
      </div>
    </ng-template>
  </div>
</div>
