<h1>Food Cart</h1>
<div class="row col-10" *ngIf="order$?.product">
  <p>
    You have {{ totalQuantity() }} items in your Food Cart.
  </p>
  <table class="table">
    <thead>
      <tr>
        <th></th>
        <th>Product</th>
        <th class="text-center">Quantity</th>
        <th class="text-center" >Price</th>
        <th class="text-right" >Total Price</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let order of order$?.product">
        <td>
          <div [style.backgroundImage]="'url(' + order.imageUrl + ')'" class="thumbnail"></div>
        </td>
        <td>
          {{ order.title }}
        </td>
        <td class="text-center">
          {{ order.quantity }}
        </td>
        <td class="text-center">
          {{ order.price  | currency:'GBP' }}
        </td>
        <td class="text-right">
          {{ order.price * order.quantity | currency:'GBP' }}
        </td>
      </tr>
    </tbody>
    <tfoot>
      <tr>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <th class="text-right">Total Payment: {{ getTotalCartPrice() | currency:'GBP' }}</th>
      </tr>
    </tfoot>
  </table>
</div>