<h1>Order</h1>
<div class="row">
  <div class="col-4">
    <div class="card" id="first">
      <div class="card-body">
        <h4 class="card-title">Order Summary</h4>
        <h6 class="card-title">Order Ref: {{ id }}</h6>
        <p class="card-text"> You have items {{ totalQuantity() }} in your cart.</p>
        <ul class="list-group list-group-flush">
          <li *ngFor="let order of order$?.product" class="list-group-item">
            {{ order.quantity }} x {{ order.title }}
            <div class="float-right">
              {{ order.price | currency:'GBP' }}
            </div>
          </li>
          <li class="list-group-item font-weight-bold">
            Total
            <div class="float-right">
              {{ getTotalCartPrice() | currency:'GBP' }}
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="col-6">
    <div class="card" id="second">
      <div class="card-body">
        <h4 class="card-title">The Wait Begins...</h4>
        <p></p>
        <p></p>
        <!-- Source: https://stackoverflow.com/questions/30104289/bootstrap-progress-bar-timer?rq=1 -->
        <div class="progress">
          <div class="progress-bar" role="progressbar" aria-valuemin="0" aria-valuemax="100" style="width: 100%;">
            <span class="sr-only"></span>
          </div>
        </div>
        <p class="card-text" style="font-size: small; font-style: italic;">Coming up in {{ getTotalPrepTime() }} minutes </p>
      </div>
    </div>
  </div>
</div>