<h1>Manage Products</h1>
<h2>Add Product</h2>
<p>
<!-- This button navigates users to the new product page (path = /admin/products/new); 
     Note: "/new" notifies the system that a new product is being added not an existing product. -->
  <a routerLink="/admin/products/new" class="btn btn-primary">New Product</a>
</p>
<p>
<!-- Here there is a search bar placed, via <input>, which allows users to filter products; 
     Note: the filter is done by querying a string (input), which calls the filter(query: string) function,
           the "#query (keyup)" function allows me to query whilst the user is typing -->
  <input
    #query
    (keyup)="filter(query.value)"
    type="text" class="form-control" placeholder="Search...">
</p>
<h2 style="text-align: center">Products</h2>
<table class="table">
  <thead>
    <tr>
      <th>Title</th>
      <th>Category</th>
      <th>Price</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
  <!-- Used ngFor to display orders which are being filtered, the filteredProducts array is the array which stores the query of products -->
    <tr *ngFor="let p of filteredProducts">
  <!-- Used interpolation of data e.g. {{ p.title }}, allowing me to embed data to marked up text (p = filteredProducts)-->
      <td>{{ p.title }}</td>
      <td>{{ p.category }}</td>
      <td>{{ p.price }}</td>
      <td>
  <!-- If the user clicks edit on a product, the product id gets pushed into the url so the page can load the products details -->
        <a [routerLink]="['/admin/products/', p.id]">Edit</a>
      </td>
    </tr>
  </tbody>
</table>
