<div class="row">
  <div class="col-3">
    <products-filter [category]="category"></products-filter>
    <div class="sticky-top">
      <div class="list-group">
        <li class="list-group-item list-group-item-action list-group-item-success">Food Cart</li>
      </div>
      <div class="list-group list-group-flush">
        <li class="list-group-item" *ngFor="let sc of shoppingCartCollection">{{sc.title}} x {{ sc.quantity }}</li>
        <li class="list-group-item" *ngIf="!shoppingCartCollection?.length > 0">Empty</li>
        <li class="list-group-item font-weight-bold" *ngIf="shoppingCartCollection?.length > 0">Total Price 
          {{ getTotalCartPriceShoppingCartCollection() | currency:'GBP' }}</li>
      </div>
      <button (click)="checkout(model)" *ngIf="shoppingCartCollection?.length" class="btn btn-primary btn-block">Checkout</button>
    </div>
  </div>
  <div class="col">
    <div class="row">
      <ng-container *ngFor="let p of filteredProducts; let i = index">
        <div class="col">
          <product-card (onRemoveProduct)="onRemoveProduct($event)" (onAddProduct)="onAddProduct($event)" [product]="p" [shoppingCart]="shoppingCartCollection"></product-card>
        </div>
        <div *ngIf="(i + 1) % 2 === 0" class="w-100"></div>
      </ng-container>
    </div>
  </div>
</div>